/* GENERAL STYLING */

main {
  background-color: #191631;
  font-family: "Work Sans";
  height: 100%;
  width: 100%;
  padding: 3rem 0 3rem 0;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
}
.container {
  background-color: #fab005;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
}

h1,
h2 {
  font-size: 1.6rem;
  text-align: center;
}

/* STARTER PAGE */
.title {
  font-size: 3.5rem;
}

.instructions {
  font-weight: 500;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* QUESTIONS */
#question {
  font-size: 1.2rem;
  text-indent: 1.5rem;
  background-color: #191631;
  border-radius: 2rem;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* ANSWERS */
li {
  list-style: none;
  margin-top: 2rem;
}

/* BUTTONS */
.btn,
#submit-btn {
  background-color: #ff431a;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Poppins";
  color: #fff;
}

#submit-btn {
  background-color: #191631;
  border: none;
}

.hideEl {
  display: none;
}
