/* GENERAL STYLING */
main {
  background-color: #191631;
  font-family: "Work Sans";
  width: 100%;
  padding: 3rem 0 3rem 0;
}

.container {
  background-color: #fab005;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

h1,
h3 {
  font-size: 1.2rem;
  text-align: center;

  color: #fff;
}

/* STARTER PAGE */
.title {
  color: #fff;
  font-size: 3.5rem;
}

.instructions {
  color: #fff;
  font-weight: 500;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* QUESTIONS */
#question {
  color: #fff;
  font-size: 1.2rem;
  text-indent: 1.5rem;
  background-color: #191631;
  border-radius: 2rem;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

/* BUTTONS */
.btn {
  background-color: #ff431a;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins";
  margin-bottom: 1rem;
}
